null
null
<th class="(common|new)">(\s|\S)*?<a href="
"
<span title="共 \d* 页">.*?</span></label><a href="
" class="nxt">下一页</a>
<span id="thread_subject">
</span>
<td class="plc">(\s)*?<div class="pi ">(\s|\S)*?发表于 
</em>
<h1 class="ts">(\s|\S)*?target="_blank" class="xw1">
</a>
</script></div>
</tr></table>
168
^http://www.backchina.com/forum/.*?
^http://www.backchina.com/forum/.*?
<td class="num">(\s|\S)*?<td class="by">(\s|\S)*?<em><a href=.*?>
</a></em>
倍可亲论坛
论坛</a> <em>.*?</em>.*?</em>.*?">
</a>
<div class="pct"><div class="pcb">(\s|\S)*?<td class="t_f" id=".*?>
</td></tr>
倍可亲论坛评论较少，只取一页
倍可亲论坛评论较少，只取一页
<td class="num">.*?class="xi2">\d*</a><em> 
</em></td>
<td class="num">.*?class="xi2">
</a><em>
<td class="plc">(\s)*?<div class="pi eis_pi">(\s|\S)*?发表于 
</em>
倍可亲论坛评论较少，只取一页
null
null
utf-8
true
false
true
2
null
null
1
null
null
101
target="_blank" class="xw1">
</a>
<td class="plc">(\s)*?<div class="pi eis_pi">(\s|\S)*?发表于 
</em>