null
null
<span class="f14px"><a href="
" title="
">(刷新|上一页)</a>.*?<a href="
">下一页</a>
<div class="posts-title">
</div>
于  
 发布在
<span class="c-main">.*?target="_blank">
</a></span> 于
<div class="posts-cont.*?>
</div>
10
^http://club.kdnet.net/dispbbs.asp.*?
^http://club.kdnet.net/list.asp\?boardid=\d*
<td class="lastupdate">(\r\n)*(\s)*
 \| <a target="_blank"
凯迪社区
<div class="forum" title="
">
<div class="replycont-text" style="word-spacing: 2px;">
</div>
current">\d*</span> <a href="
">\d*</a>
<td class="statistics clearfix.*?/
</td>
<td class="statistics clearfix.*?>
/\d*</td>
>不看此人</a></span>(\s)*(\r\n)*(\s)*<span class="c-sub">\|</span> 
&nbsp;&nbsp;
<span class="current">\d*</span></div>
null
null
gb2312
true
false
true
2
<div class="pages-go"><input value="
" type="text"
1
<span class="current">
</span>
100
<span class="name c-main">(\r\n)*(\s)*<a  href="http://user.kdnet.net/index.asp\?userid=\d*" target="_blank">
</a></span>
>不看此人</a></span>(\s)*(\r\n)*(\s)*<span class="c-sub">\|</span> 
&nbsp;&nbsp;