null
null
<a href="/bbs/bagua/
"
class="on js-liston".+?href="/
">
<h2 class="tie-con-hd-title js-tietitle".*?>
</h2>
Â¥Ö÷ &nbsp;&nbsp; 
</span>
tie-item tie-first-item(\s|\S)*?"js-tieauthor">
</a>
tie-con-hd-title js-tietitle(\s|\S)*?<div class="tie-content">
<div class="tie-con-manange">(\s|\S)*?<div class="tie-con-manange-panel">
100
^http://bbs.ent.163.com/bbs/bagua/.+?
^http://bbs.ent.163.com/list/.+?
<span class="date"> 
</span>
ÍøÒ×°ËØÔÂÛÌ³
<a href="http://bbs.ent.163.com">
</a>
<div class="tie-content">
</div>
tie-list-nextpage">(\s|\S)*?<a href="/
"
<div class="board-list-count-inner">.+?(<span class="red">|<span >)
</span>
</span>/
\s*</div>
Â¥&nbsp;&nbsp; 
</span>
null
null
null
gbk
true
false
true
2
null
null
1
null
null
25
tie-item(\s|\S)*?"js-tieauthor">
</a>
Â¥&nbsp;&nbsp; 
</span>